* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 80%;
    height: 50px;
    margin: auto;
}

header a {
    color: #eee;
    cursor: pointer;
    margin-right: 40px;
    font-weight: 300;
}

.container {
    height: 100vh;
    width: 100vw;
    margin-top: -50px;
    overflow: hidden;
}

.container .list .list-item {
    height: 100%;
    width: 100%;
    position: absolute;
}

.container .list .list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.container .list .list-item .content {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #eee;
    text-shadow: 0 5px 10px #000;
}

.container .list .list-item .content h2 {
    font-size: 5em;
}

.container .list .list-item .content p {
    font-size: 17px;
    margin: 13px auto;
    line-height: 1.3em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 42px;
    gap: 5px;
    margin-top: 15px;
}
.buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.buttons button:hover:nth-child(2) {
    background-color: #eee;
    color: #000;
}

.buttons button:hover {
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

.container .thumb {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
}

.container .thumb .thumb-item {
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
}

.container .thumb .thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
    z-index: 3;
}

.container .thumb .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container .arrows {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 300px;
}

.container .arrows button {
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    background-color: #eee4;
    color: #eee;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5em;
}

.container .arrows button:hover {
    background-color: #eee;
    color: #000;
}

.container.next .thumb {
    animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.container.back .thumb {
    animation: effectBack 0.5s linear 1 forwards;
}

@keyframes effectBack {
    from {
        transform: translateX(-150px);
    }
}

.container.next .thumb .thumb-item:nth-last-child(1) {
    animation: effectLast 0.5s linear 1 forwards;
}

@keyframes  effectLast {
    from {
        width: 0;
        opacity: 0;
    }    
}

.container .list .list-item:nth-last-child(1) .content h2,
.container .list .list-item:nth-last-child(1) .content p,
.container .list .list-item:nth-last-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(30px);
    opacity: 0;
    animation: showContent 0.5s linear 1 forwards;
}

@keyframes showContent {
    to {
         transform: translateY(0);
         filter: blur(0);
         opacity: 1;
    }
}

.container .list .list-item:nth-last-child(1) .content h2 {
    animation-delay: 0.8s;
}

.container .list .list-item:nth-last-child(1) .content p {
    animation-delay: 1s;
}

.container .list .list-item:nth-last-child(1) .content .buttons {
    animation-delay: 1.2s;
}

.container.next .list .list-item:nth-last-child(1) img {
    width: 135px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 10px;
    animation: showMainImg 0.3s linear 1 forwards;
}

@keyframes showMainImg {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.container.back .list .list-item:nth-child(1) img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    animation: hideMainImg 0.3s linear 1 forwards;
}

@keyframes hideMainImg {
    to {
        bottom: 50px;
        left: 50%;
        border-radius: 10px;
        width: 135px;
        height: 200px;
    }
}